:root {
    --bg: #202B3C;
    --blue: #273549;
    --aqua-green: #4ADF86;
    --green: #10B981;
    --light-green: #55F991;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.up {
    color: white;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.left {
    align-self: flex-start;
}

input {
    margin-top: 10px;
}

h2,
hr {
    color: #ccc;
}

h2 {
    font-size: medium;
    font-weight: 300;
}

#random {
    color: var(--aqua-green);
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

button {
    margin-top: 60px;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: var(--green);
}

.down {
    display: flex;
    margin: 30px auto;
    border-left: 2px solid #fff;
}

.button {
    border-radius: 4px;
    padding: 6px 16px;
    margin: 30px;
    color: var(--light-green);
    background-color: var(--blue);
}

p {
    align-self: flex-end;
    color: rgb(250, 132, 132);
}